.task-detalhes-container{
    background: #444;
    margin: 15px 0;
    padding: 12px;
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.task-detalhes-container h2{
    text-transform: capitalize;
    margin-bottom: 5px;
    color: chartreuse;
}

.voltar-button-container{
    width: 30%;
    margin-top: 10px;
}